:root {
  --dark-secondary: #280b0bff;
  --light-secondary: #f9f9f9ff;
  --brand-orange: #f2421bff;
  --title-size: 4rem;
  --subtitle-size: 2rem;
  --big-size: 1.5rem;
  --regular-size: 1rem;
  --small-size: 0.8rem;
}

body {
  background-color: var(--light-secondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  margin-block-start: 0;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* list-style-image: url('./assets/images/circle1.svg'); */
}

.profilePic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.itemContainer {
  padding-bottom: 16px;
}

.rotatedText,
.cardName,
.cardTitle,
.contactItemText,
.sectionTitle,
.itemContainer,
.contactTagLine {
  transform: rotate(-5deg);
}

.cardName,
.contactTagLine {
  font-size: var(--title-size);
}

.cardTitle {
  font-size: var(--subtitle-size);
  letter-spacing: 16px;
  color: var(--brand-orange);
}

.annotationTitle {
}

.annotationSubtitle {
}

.contactItemTextBold,
.annotationSubtitle {
  font-size: var(--regular-size);
}

.contactItemTextBold,
.annotationTitle {
  font-weight: bold;
}

.contactItemIcon,
.annotationTitle,
.annotationSubtitle {
  color: var(--brand-orange);
}

.sectionTitle {
  color: var(--light-secondary);
  background-color: var(--brand-orange);
  padding: 4px 8px;
  border-radius: 15px;
  text-align: center;
  max-width: fit-content;
}

.itemDescription {
  font-size: var(--small-size);
}

.bioText,
.bioSubtitle {
  font-size: var(--subtitle-size);
  text-align: center;
  color: var(--light-secondary);
}

.bioSubtitle {
  font-size: var(--regular-size);
}

.languageTitle,
.hobbieItem {
  color: var(--brand-orange) !important;
  font-size: var(--subtitle-size) !important;
  padding-bottom: 16px !important;
}

.languageItem {
  color: var(--brand-orange);
  font-size: var(--big-size);
}

.hobbieItem:hover {
  cursor: pointer;
}

.hobbieItem::after {
  background-color: var(--brand-orange);
  padding: 4px 2px;
}

.donutChart {
  width: 100% !important;
}

.hobbiesWheel svg g g {
  transform: translate(25%, 25%) !important;
}

.contactTagLine {
  padding: 4% 0;
  background-color: var(--brand-orange);
  color: var(--light-secondary)
}

.contactItemText {
  font-size: var(--big-size);
}

.contactItemIcon {
  display: flex;
  align-items: center;
}
